#page-landing {
   background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

   text-align: center;
   min-height: 100vh;

   display: flex;

   align-items: center;
}

#container {
   margin: auto;

   width: min(90%, 1120px);
}

.location, h1, .visit p {
   height: 16vh;
}

.visit a {
   width: 4rem;
   height: 4rem;
   background: #ffd666;

   border: none;
   border-radius: 1.5rem;

   display: flex;
   align-items: center;
   justify-content: center;

   margin: auto;
   
   animation-delay: 250ms;

   transition: background .2s;
}

.visit a:hover {
   background: #96feff;
}

#logo {
     animation-delay: 50ms;
}

.location {
     animation-delay: 100ms;
}

main h1 {
     animation-delay: 150ms;
}

.visit p {
     animation-delay: 200ms;
}

/*desktop version */
@media (min-width: 760px) {
   #container {
      background: url("../images/bg.svg") no-repeat 80% / clamp(23rem, 36vw, 36rem);
      padding: 4.2vh 2vw;
   }

   header {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .location, h1, .visit p {
      height: initial;
      text-align: initial;
   }

   .location {
      text-align: right;
      line-height: 1.5;
      font-size: 20px;
   }

   main h1 {
      font-size: clamp(3rem, 6vw, 6.3rem);
      font-weight: bold;
      line-height: .88;

      margin: clamp(10%, 9vh, 12%) 0 4rem;

      width: min(300px, 80%);
   }

   .visit {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .visit p {
      line-height: 1.2;
      font-size: 20px;
      width: clamp(200px, 20vw, 300px);
   }

   .visit a {
      margin: initial;
   }
}